.env
.env.*
*.key
*.pem
*.crt
*.bak
*.old
*.enc

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
build/
.cache/
.pnpm-debug.log
.vite/

Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store
*.sublime-workspace
*.sublime-project
*.code-workspace
*.vscode/

*.zip
*.tar.gz
*.tgz
*.tmp
*.bak
*.orig
*.rej
*.log
*.out
*.err

*.local.yaml
local-values.yaml

helm-output/
release.yaml
template-output.yaml